.post {
  & > h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
  }

  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
    border-bottom: 1px solid #ddd;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }

  & img {
    width: 100%;
  }

  & a {
    color: rgb(125, 125, 255);
    text-decoration: underline;

    &:hover {
      color: lighten($color: rgb(125, 125, 255), $amount: 10%);
    }
  }
}

.list {
  margin-top: 20px;
  background-color: rgb(238, 238, 238);
  min-height: 100px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}